{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block content %}
    <div class="container">
        {% for notice in notices %}
            <h3> {{ notice.notice_title }}</h3>
            <p>{{ notice.notice_text }}</p>
            <p><a href="{% url 'deletes' deleteId=notice.id %}" class="btn btn-danger">Meldung löschen</a></p></td>
            <hr>
        {% endfor %}
    <p><a href="{% url 'news' %}" class="btn btn-info">Neue Nachricht</a> </p>
    </div>
{% endblock %}
{% comment %}
{% block navigation %}
    <form method="POST">
        Vorname:<br>
        <input type = "text" name = "firstname" value = "Hans">
        <br>
        Nachname: <br>
        <input type="text" name="firstname" value="Mustermann">
        <br><br>
        <button type = "submit"> Speichern </button>
    </form>
{% endblock %}{% endcomment %}
