{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}

{% block content %}
    <div class = "container" align="center">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            Benutzername <br> {{ form.username }} <br>
            Passwort<br>{{ form.password }} <br><br>
            <button type="submit" class="btn btn-success">Anmelden</button>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}?next=/posts" class="btn btn-warning">Abmelden</a>
            {% endif %}
            <input type="hidden" name="next" value="{{ next }}" />
        </form>

    </div>
{% endblock %}